server:
  port: 3703

management:
  endpoints:
    web:
      base-path: /

spring:
  application:
    name: Access Management
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${AM_DB_HOST:localhost}:${AM_DB_PORT:5433}/${AM_DB_NAME:am}${AM_DB_PARAMS:}
    username: ${AM_DB_USERNAME:amuser}
    password: ${AM_DB_PASSWORD:ampass}
    properties:
      charSet: UTF-8
  flyway:
    enabled: ${ENABLE_DB_MIGRATE_IN_SERVICE:true}
